
body{
    box-sizing: border-box !important;
    width:100%;
    padding:15px;
    margin:0 auto;
}
.main{
    display:flex;
    flex-wrap:wrap;
    justify-content: space-between;
}
.label{
    text-align: center;
    line-height: 60px;
    font-weight: bolder;
    background-color:rgb(189, 186, 186);
    height:100%;
}
.field{
    background-color:rgb(153, 182, 236);
}
.field:active, .field:hover{
  box-shadow: 0px 0px 14px 0px #07FFFA;
}
.field::placeholder{
  color:rgb(0, 134, 132); 
}
form{
    height:400px;
    flex:59%;
    display:grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows:repeat(6,1fr);
    grid-gap: 5px;
    grid-template-areas:
        'titles field1 field1 field2 field2'
        'titles field3 field3 field4 field4'
        'titles field5 field5 field5 field5'
        'titles field5 field5 field5 field5'
        'titles field6 field6 field6 field6'
        'titles field7 field7 field8 field8';

}
form .titles{
    grid-area:titles;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows:repeat(6,1fr);
    grid-gap: 5px;
    grid-template-areas:
        't1'
        't2'
        't3'
        't3'
        't4'
        't5';
    
}
.titles > .t1 {
    grid-area:t1;
    
}
.titles > .t2 {
    grid-area:t2;
    
}
.titles > .t3 {
    grid-area:t3;
    
}
.titles > .t3 > .label{
  text-align: center;
  vertical-align: center;
  line-height: 120px;
  padding:0 5px;
}
.titles > .t4 {
    grid-area:t4;
    
}
.titles > .t5 {
    grid-area:t5;
    
}
.field1{
    
    grid-area:field1;
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
        'f1 f1';
    
}
.field1 > .f1{
    grid-area:f1;
    
}
.field2{
    grid-area:field2;
    display:grid;
    grid-template-columns:repeat(2, 1fr);
    grid-template-areas:
        't1 f1';
        
    
}
.field2 > .t1{
    grid-area:t1;
    
}
.field2 > .f1{
    grid-area:f1;
    width:95%;
}
.field3{
    grid-area:field3;
    display:grid;
    grid-template-columns:repeat(2, 1fr);
    grid-template-areas:
        'f1 f2';
        
    
}
.field3 > .f1{
    grid-area: f1;
    
}
.field3 > .f2{
    grid-area:f2;
    
}
.field4{
    grid-area:field4;
    display:grid;
    grid-template-columns:repeat(2, 1fr);
    grid-template-areas:
        'f1 f2';
        
    
}
.field4 > .f1{
    grid-area:f1;
}
.field4 > .f2{
    grid-area:f2;
}
.field5{
    grid-area:field5;
    display:grid;
    grid-template-columns:repeat(2, 1fr);
    grid-template-areas:
    'f1 f1'
    'f1 f1';
    
    
}
.field5 > .f1{
    grid-area:f1;
    
}
.field6{
    grid-area:field6;
    display:grid;
    grid-template-columns:repeat(2, 1fr);
    grid-template-areas: 
        'f1 f1';
        
    
}
.field6 > .f1{
    grid-area:f1;
    
}
.field7{
    grid-area:field7;
    display:grid;1124
    grid-template-columns: repear(2, 1fr);
    grid-template-areas: 
        'f1 t1';
        grid-gap:5px; 
    
}
.field7 > .f1{
    grid-area:f1;
    
}
.field7 > .t1{
    grid-area:t1;
    
}
.field8{
    grid-area:field8;
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap:5px;
    grid-template-areas: 
    'f1 t1 t1 f2';
    
    
}
.field8 > .f1{
    grid-area:f1;
    width:100%;
}
.field8 > .t1{
    grid-area:t1;
    
}
.field8 > .f2{
    grid-area:f2;
    width:90%;
    
}
.table{
  flex:39%;
  max-width: 39%;  
  min-height: 500px;
  max-height: 500px;
}
    .table .titles{
      display:grid;
      grid-template-columns: repeat(7, 1fr);
      grid-template-rows:auto;
      grid-gap:5px;
      padding:0px 5px;
      grid-template-areas:
        'id hora pedido pedido pedido abono precio';
    }
    .table p{
      font-weight: bolder;
      padding:0 10px;
    }
    .table .titles > div{
      text-align: center;
      line-height: 60px;
      font-weight: bolder;
      background-color:rgb(189, 186, 186);
      height:80%;
      padding:5px;
    }
    .table .titles .id{
      grid-area:id;
    }
    .table .titles .hora{
      grid-area:hora;
    }
    .table .titles .pedido{
      grid-area:pedido;
    }
    .table .titles .abono{
      grid-area:abono;
    }
    .table .titles .precio{
      grid-area:precio;
    }
/*********************DATA*********************/
.table .data .fields > div{
  background-color:rgb(189, 186, 186);
  word-wrap: break-word !important;
  font-size:15px;
  padding:10px;
  margin-bottom:5px;
}
.table .data{
  min-height: 500px;
  max-height: 500px;
  padding:0 5px;
}

.table .data .fields:hover div, .table .data .fields:active div{
  background-color:rgb(36, 33, 33);
  color:white;
}
.table .data .fields:hover{cursor:pointer;}
.table .data .fields{
  display:grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows:repeat(auto, 1fr);
  grid-auto-rows: auto;
  grid-gap:5px;
  grid-template-areas:
    'id hora pedido pedido pedido abono precio';
}
    .table .data .id{
      grid-area:id;
      text-align: center;
      vertical-align: center;
    }
    .table .data .hora{
      grid-area:hora;
    }
    .table .data .pedido{
      grid-area:pedido;
      word-break:break-word;
    }
    .table .data .abono{
      grid-area:abono;
    }
    .table .data .precio{
      grid-area:precio;
    }
.titleAndButtons{
  flex:100%;
  margin: 10px 0;
  display:grid;
  grid-gap:1px;
  grid-template-columns:repeat(10, 1fr);
  grid-template-rows:1fr;
  grid-template-areas:
    'title title . . fecha . . nuevo anular registrar';
}
.titleAndButtons .title{
  grid-area:title;
  font-weight: bolder;
}
.titleAndButtons .fecha{
  grid-area:fecha;
  display:flex;
  }
  .titleAndButtons .fecha > *{
    padding:5px;
  }
  .titleAndButtons label{
    transition: transform 200ms linear;
  }
  .titleAndButtons label:hover{
    cursor:pointer;
    transform: scale(1.05);
  }
.titleAndButtons .fecha .left,
.titleAndButtons .fecha .right
{
  background-color:rgb(189, 186, 186);
}
.titleAndButtons .fecha .fechaRaw{
  background-color:rgb(153, 182, 236);
}
.titleAndButtons .nuevo{
  grid-area:nuevo;
  background-color: green;
  text-align: center;
  color:white;
  padding: 10px;
  font-weight: bolder;
}
.titleAndButtons .anular{
  grid-area:anular;
  background-color: red;
  text-align: center;
  color:white;
  padding: 10px;
  font-weight: bolder;
}
.titleAndButtons .registrar{
  grid-area:registrar;  
  background-color: lightskyblue;
  text-align: center;
  color:white;
  padding: 10px;
  font-weight: bold;

}
.hidden{
  width:0 !important;
  height:0 !important;
  opacity:0;
  display:none;
}





/*#######################################*/
/*#######################################*/
/*############ Table Buttons ############*/
/*#######################################*/
/*#######################################*/



/*#######################################*/
/*#######################################*/
/*############ END TAB BUTT. ############*/
/*#######################################*/
/*#######################################*/

@media (max-width:1000px){
  .table{
    flex:90% !important;
    max-width:100%;
    order:2;
  }
  form{
    flex:90% !important;
    width:90%;
    order:1;
    margin-bottom:20px;
  }
  .table .titles{
    padding:0 5px 0 0;
  }
  .data{
    flex:90%;
  }
}
@media (max-width: 655px){
  .titleAndButtons{
    grid-template-rows:repeat(2, 1fr);
    grid-template-columns:repeat(8, 1fr);
    grid-template-areas:
      'title title . . . . . .'
      'fecha fecha . . . nuevo anular registrar';
  }
  .titleAndButtons .title{
    white-space: nowrap;
    font-size:20px;

  }
}
@media (max-width:422px){
  .titleAndButtons{
    grid-template-rows:repeat(3, 1fr);
    grid-template-columns:repeat(3, 1fr);
    grid-template-areas:
      'title title title'
      'fecha fecha fecha'
      'nuevo anular registrar';
  }
}
